@import "tailwindcss";

:root {
  --background: url("../../public/christmasBg.png");
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .text-outline {
    text-shadow:
      -1px -1px 0 #000000,
      1px -1px 0 #000000,
      -1px 1px 0 #000000,
      1px 1px 0 #000000;
  }

  .text-outline-mint {
    text-shadow:
      -1px -1px 0 #5a8d8c,
      1px -1px 0 #5a8d8c,
      -1px 1px 0 #5a8d8c,
      1px 1px 0 #5a8d8c;
  }
}

body {
  background-image: var(--background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100vh;
}
