@import "tailwindcss";

:root {
  --background: url("../../public/christmasBg.png");
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-image: var(--background);
  background-size: auto 1440px;
  background-position: center;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body::before {
  background-color: #ffffff48;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  content: "";
}
